VERCEL_FORCE_NO_BUILD_CACHE=1
VITE_SUPABASE_URL=https://jvwmsitrnttanubumscd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp2d21zaXRybnR0YW51YnVtc2NkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM2Nzk0MzUsImV4cCI6MjA4OTI1NTQzNX0._E7yf8zvXaeM9cGRgSBgPjr6pAHhnMnChvjXHbrp-eo
VITE_API_BASE_URL=https://api.maduratravel.com
